.card-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.card-link:focus .card,
.card-link:hover .card {
  box-shadow: 0 0 0 2px #bb8a50;
  transition: box-shadow 0.2s;
}